<div class="max-w-lg mx-auto bg-green-50">
  <div class="bg-white px-4 py-4 rounded-md shadow">
    <div class="text-center">
      <app-candle></app-candle>
      <h2 class="mt-2 text-lg font-medium text-gray-900">Stock App Tracker</h2>
      <p class="mt-1 text-sm text-gray-500">
        Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL).
      </p>
    </div>
    <form
      [formGroup]="stockTrackerFormGroup"
      (ngSubmit)="onAdd()"
      class="mt-6 flex justify-center"
    >
      <div class="flex flex-col justify-center w-64">
        <div class="mx-auto">
          <label for="email" class="sr-only">Symbol Stock</label>
          <input
            type="text"
            name="stockInput"
            id="stockInput"
            formControlName="stockInput"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-50 max-w-50 sm:text-sm border-gray-300 rounded-md"
            placeholder=""
            [ngClass]="{
              'border-green-500 focus:ring-green-500 focus:border-green-500':
                stockInputFormControl?.valid,
              'border-red-500 focus:ring-red-500 focus:border-red-500':
                stockInputFormControl?.invalid &&
                (stockInputFormControl?.touched || stockInputFormControl?.dirty)
            }"
          />
        </div>
        <div
          class="mx-auto text-red-500 mt-1 text-sm"
          *ngIf="stockInputFormControl?.errors?.maxlength"
        >
          Symbol can be max 5 characters long.
        </div>
      </div>
      <div>
        <button
          type="submit"
          id="trackBtn"
          class="ml-4 flex-shrink-0 px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          [ngClass]="{
            'bg-indigo-600 hover:bg-indigo-700': stockTrackerFormGroup.valid,
            'bg-gray-500 hover:bg-gray-600 cursor-not-allowed':
              stockTrackerFormGroup.invalid
          }"
          [disabled]="stockTrackerFormGroup.invalid"
        >
          Track Stock
        </button>
      </div>
    </form>
  </div>
</div>
